@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    background-image: url(./pic1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about-me{
    padding:100px 15px;
}
.about-me .section-title{
    flex:0 0 100%;
    max-width: 100%;
    margin-bottom:40px;
}
.about-me .section-title h1{
    display: inline-block;
    font-size:35px;
    text-transform: uppercase;
    font-weight:700px;
    color: rgb(247, 240, 240);
    margin:0 0 10px;
    padding-bottom:5px;
}

.text-uppercase{
    text-transform: uppercase!important;
}

.about-me .section-title p.small{
    display: block;
    font-size: 30px;
    color:#f8f6f6;
    font-weight: 400;
    letter-spacing:2px;

}

.about-me .about-content .text{
    flex:0 0 66.66%;
    max-width: 66.66%;
    padding-left:40px;

}
.about-me .about-content .text h4{
    font-size: 30px;
    font-weight: 900;
    margin:0 0 5px;
    color:#faf3f3;

}
.about-me .about-content .text p{
    font-size: 25px;
    font-weight: 400;
    line-height:24px;
    color: #fcf8f8;
    margin:0 0 20px;

}
.about-me .about-content .text .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-me .about-content .text .info .list{
    flex:0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom:1px solid #dee2e6;
    padding-bottom:10px;

}
.about-me .about-content .text .info .list label{
    padding-right:10px;
    color: rgb(245, 236, 236);
    font-weight: 600;
    font-size:20px;
}
.about-me .about-content .text .info .list p{
    margin:0;
}
.contact-us{
    padding:100px 15px;
 
}

.contact-us .contact-form{
    flex:0 0 100%;
    max-width: 100%;
    padding:40px;
}
.contact-us .section-title h2{
    text-align:center;
    font-size: 30px;
    font-weight: 900;
    padding:30px;
}
.contact-us .contact-form .text{
    flex:0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.contact-us .contact-form .space-between{
    justify-content: space-between;
}



.contact-us .contact-form .col-6{
    flex:0 0 calc(50% - 15px);
    max-width: calc(50% - 10px)
}
.contact-us .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .form-control{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid rgb(174, 169, 173);
    padding:6px 12px;
    font-size: 14px;
    font-weight: 400;
}
.contact-us .contact-form .form-control::placeholder{
    color: #838383;
}
.contact-us .contact-form textarea .form-control{
    height: 140px;
}
.contact-us .contact-form .button a{
    border-radius:4px;
    color: rgb(245, 240, 243);
    border:1px solid rgb(243, 239, 243);
    padding:12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #e96ad8;
}
.contact-us .contact-form .button a:hover{
    background-color: rgb(77, 146, 211);
    color: black;
}
footer{
    padding:80px 15px;
    background-color:rgb(228, 155, 224);

}
footer .logo{
    flex:0 0 100%;
    text-align:center;
    font-size: 45px;
    color: white;
    font-weight: 900;
}
footer .social{
    flex:0 0 100%;
    max-width: 100%;
    text-align:center;
    padding-top:16px;
}
footer .social a{
    color: #5a5353;
    text-decoration: none;
    display: inline-block;
    margin:0px 12px;
    transition:all .5s ease;
}
footer .social a:hover{
    color: white;
}
.copyright{
    background-color: rgb(13, 13, 14);
    border-top:1px solid rgb(241, 206, 237);
    padding: 15px;
}
.copyright p{
    color:rgb(85, 79, 79);
    margin:0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}


    
